openapi: 3.0.0
info:
  contact: {}
  description: "\n      The \"Console API\" is the CRUD API for performing the actions\
    \ offered on console.statsig.com without needing to go through the web UI.\n \
    \     If you have any feature requests, drop on in to our [slack channel](https://www.statsig.com/slack)\
    \ and let us know.\n      <br /><br />\n      <b>Authorization</b>\n      <br\
    \ />\n      All requests must include the **STATSIG-API-KEY** field in the header.\
    \ The value should be a **Console API Key** which can be created in the Project\
    \ Settings on [console.statsig.com/api_keys](https://console.statsig.com/api_keys)\n\
    \      <br /><br />\n      <b>Rate Limiting</b>\n      <br />\n      Requests\
    \ to the Console API are limited to <code>~ 100reqs / 10secs and ~ 900reqs / 15\
    \ mins</code>.\n      <br /><br />\n      <b>Keyboard Search</b>\n      <br />\n\
    \      Use <code>Ctrl/Cmd + K</code> to search for specific endpoints.\n      "
  title: Console API
  version: "1.0"
servers:
- url: https://statsigapi.net
paths:
  /console/v1/audit_logs:
    get:
      operationId: ConsoleV1AuditLogsController_genList
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortKey
        required: false
        schema:
          enum:
          - id
          - name
          - changeLog
          - actionType
          - date
          - time
          - updatedBy
          - updatedByUserID
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: latestID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: actionType
        required: false
        schema:
          enum:
          - tag_update_owners
          - layer_update_owners
          - config_update_owners
          - dynamic_config_update_owners
          - gate_update_owners
          - experiment_update_owners
          - holdout_update_owners
          - custom_metric_update_owners
          - segment_update_owners
          - dashboard_update_owners
          - update_precommit_hook
          - apply_experiment_review
          - extend_experiment_pulse_end_date
          - modify_override_config
          - modify_overrides
          - remove_override_config
          - restart_experiment_pulse
          - dynamic_config_create
          - segment_create
          - custom_metric_definition_create
          - custom_metric_definition_edit
          - custom_pulse_query_create
          - scheduled_custom_pulse_query_create
          - AWS_marketplace_account_delete
          - company_metric_delete
          - custom_metric_definition_delete
          - custom_pulse_query_delete
          - custom_sankey_delete
          - integration_delete
          - integration_create
          - integration_update
          - scheduled_pulse_custom_query_delete
          - custom_pulse_query_name_edit
          - scheduled_pulse_query_name_edit
          - pulse_results_export
          - user_data_load
          - company_member_remove
          - batch_cancel_company_invites
          - organization_member_remove
          - active_user_definition_update
          - gate_overrides_update
          - gate_template_create
          - gate_create
          - gate_update
          - shared_report_link_upsert
          - scheduled_pulse_rollups_update
          - company_ID_type_add
          - pin_dashboard_for_company
          - company_create
          - company_delete
          - company_email_domain_config_delete
          - company_ID_type_delete
          - company_snapshot_delete
          - OIDC_configuration_delete
          - project_review_group_delete
          - update_team_settings
          - update_team_admins
          - update_team_name
          - update_team_description
          - update_team
          - SSO_disable
          - company_basic_info_edit
          - project_description_edit
          - project_owner_set
          - company_invite_access_update
          - company_metric_management_update
          - update_entities_require_teams
          - user_role_update
          - batch_user_role_update
          - OIDC_configuration_upsert
          - payment_entitlements_upsert
          - project_review_group_upsert
          - config_review_accept
          - config_review_commit
          - config_review_create
          - config_delete
          - config_review_delete
          - config_reviews_disable
          - config_review_reject
          - config_resalt
          - config_revert
          - config_require_reviews
          - config_state_toggle
          - config_allowed_reviewers_update
          - config_conditions_update
          - config_default_value_update
          - config_description_update
          - config_environments_update
          - config_review_info_update
          - config_review_update
          - config_review_required_update
          - update_metric_review_required
          - update_metric_is_permanent
          - config_add_tag
          - config_edit_tags
          - config_remove_tag
          - delete_tag
          - shared_report_link_delete
          - layer_review_commit
          - layer_review_accept
          - layer_parameter_add
          - layer_create
          - layer_review_create
          - layer_review_delete
          - layer_delete
          - layer_snapshot_delete
          - layer_description_edit
          - layer_edit
          - layer_overrides_edit
          - layer_parameters_edit
          - layer_review_reject
          - layer_allowed_reviewers_update
          - layer_review_info_update
          - layer_update_target_apps
          - experiment_data_report_delete
          - experiment_data_report_rename
          - experiment_data_report_update_parameters
          - experiment_discussion_post_create
          - experiment_discussion_post_delete
          - experiment_abandon
          - experiment_pause_assignment
          - experiment_review_accept
          - experiment_review_reject
          - setup_stratified_sampling
          - update_echidna_subtype
          - experiment_review_commit
          - autotune_experiment_create
          - experiment_template_create
          - experiment_create
          - experiment_review_create
          - autotune_experiment_delete
          - autotune_experiment_snapshot_delete
          - experiment_delete
          - experiment_review_delete
          - experiment_snapshot_delete
          - experiment_group_disable
          - autotune_experiment_edit
          - experiment_description_edit
          - edit_experiment_display_name
          - experiment_edit
          - experiment_overrides_edit
          - hypothesis_edit
          - key_experiment_metrics_edit
          - experiment_advanced_settings_edit
          - experiment_decision_make
          - experiment_restart
          - experiment_reviews_on
          - experiment_start
          - experiment_follow_toggle
          - experiment_allowed_reviewers_update
          - experiment_review_info_update
          - experiment_review_update_owners
          - experiment_review_update_team
          - experiment_update_decision_note
          - experiment_update_target_apps
          - experiment_update_subdimension_filter
          - event_dimension_update
          - holdout_create
          - holdout_delete
          - holdout_layer_parameter_values_update
          - holdout_update
          - ID_list_update
          - integration_set_enabled
          - integration_update_disabled_events
          - integration_update_outgoing_config
          - integration_update_rate_limits
          - integration_upsert
          - ingestion_source_delete
          - metric_set_hidden
          - tag_create
          - tag_delete
          - metric_edit_definition
          - metric_edit_description
          - metric_reviews_on
          - tag_edit
          - metric_add_tag
          - tag_metrics_bulk
          - tag_configs_bulk
          - metric_remove_tag
          - metric_disable_reviews_locally
          - org_api_key_create
          - sdk_key_create
          - sdk_key_deactivate
          - sdk_key_delete
          - secret_key_regenerate
          - sdk_key_update_description
          - custom_query_toggle_favorite
          - add_dashboard_widget
          - create_dashboard
          - delete_dashboard_widget
          - edit_dashboard_widget
          - delete_dashboard
          - edit_dashboard_description
          - edit_dashboard_name
          - delete_layer_parameter
          - update_layer_parameter
          - set_api_share_key_access
          - create_guardrail_metric_alert
          - delete_guardrail_metric_alert
          - edit_guardrail_metric_alert
          - resolve_guardrail_metric_alert
          - unsnooze_guardrail_metric_alert
          - config_monitoring_metrics_update
          - restore_dashboard
          - schedule_archive_metric
          - schedule_delete_metric
          - delete_metric
          - archive_metric
          - cancel_archive_metric
          - set_plan_type
          - set_bv3_plan_type
          - cancel_delete_metric
          - generate_integration_webhook_secret
          - param_store_create
          - param_store_update
          - set_default_payment_method
          - delete_payment_method
          - unarchive_metric
          - set_user_sampling_rate_for_gate
          - set_user_sampling_rate
          - sdk_key_update_environments
          - company_environments_edit
          - set_metric_directionality
          - upsert_trigger_integration
          - delete_trigger_integration
          - custom_metric_edit
          - update_gate_is_permanent
          - config_id_type_update
          - metric_review_create
          - metric_review_info_update
          - custom_metric_review_accept
          - custom_metric_review_reject
          - custom_metric_review_delete
          - metric_review_commit
          - create_power_analysis_gate_query
          - dismiss_runaway_entity
          - metric_allowed_reviewers_update
          - custom_metric_name_edit
          - create_echidna_metric_source
          - update_echidna_metric_source
          - update_echidna_metric_source_name
          - update_echidna_metric_tag_or_description
          - delete_echidna_metric_source
          - create_echidna_data_quality_checks
          - create_echidna_assignment_source
          - update_echidna_assignment_source
          - delete_echidna_assignment_source
          - update_echidna_assignment_source_name
          - update_echidna_assignment_source_loading_window
          - update_echidna_metric_loading_window
          - create_echidna_entity_property_source
          - update_echidna_entity_property_source
          - delete_echidna_entity_property_source
          - update_echidna_entity_property_source_name
          - update_echidna_source_owner
          - echidna_drop_tables
          - load_echidna_pulse
          - load_echidna_metric
          - load_echidna_assignment_source
          - set_echidna_schedule_hour
          - upsert_user_role
          - delete_user_role
          - create_customer_app
          - config_edit_target_apps
          - sdk_key_update_target_app
          - autotune_experiment_update_target_apps
          - edit_target_app
          - delete_target_app
          - update_gate_analytics_enabled
          - update_store_0_100_exposures
          - set_gate_analytics_enabled_by_default
          - set_gate_analytics_0_100_exposures_enabled
          - experiment_review_update_overrides
          - update_bv3_subscription
          - upsert_experiment_settings
          - upsert_gate_settings
          - update_experiment_enabled_non_prod_environments
          - sdk_key_update_scopes
          - update_dashboard_widgets_from_generated_tags
          - archive_experiment
          - unarchive_experiment
          - user_login
          - layer_reviews_on
          - set_echidna_project_pulse_schedule
          - set_echidna_project_metric_schedule
          - update_metric_is_verified
          - update_dashboard_settings
          - set_company_default_user_role
          - set_company_session_replay_sampling_rate
          - cancel_echidna_dag
          - set_require_target_app_for_new_entity
          - add_segments_of_interest_property
          - delete_segments_of_interest_property
          - param_store_delete
          - setup_external_opt_in
          - param_store_update_owners
          - set_automated_bot_removals
          - set_stop_new_assignment_toggle
          - create_statsig_proxy
          - update_echidna_assignment_source_is_verified
          - update_company_auto_capture_settings
          - set_self_approvals_blocked
          - update_company_experiment_exclusion_segment
          - unattach_experiment_to_power_analysis_report
          - update_company_remove_default_gates_setting
          - create_topline_alert
          - update_topline_alert
          - delete_topline_alert
          type: string
        style: form
      - explode: true
        in: query
        name: actionTypes
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: Results per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Audit logs listed successfully.
                data:
                - id: 25KPZcLjTY7AS1uZdBolPZ
                  name: test_gate_1
                  changeLog: Created Gate
                  actionType: gate_create
                  date: Mon Sep 26 2022
                  time: 23:46:14 GMT+0000 (Coordinated Universal Time)
                  updatedBy: Jane Doe
                  updatedByUserID: 4eoDlYj7svJixZfDsYSn
                  changes:
                    rules:
                      new:
                      - groupName: test
                        percentagePass: 100
                        conditionJSON:
                        - conditionType: 1
                          operator: 0
                          value:
                          - "1"
                          extraConfig: {}
                        returnValueJSON: "true"
                        id: BfGswoMDcsZ4y9Le1d9O
                        salt: 8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8
                        environment: production
                        rollouts: []
                        enabledEnvironments:
                        - development
                        - staging
                        - production
                      old:
                      - groupName: test
                        percentagePass: 100
                        conditionJSON:
                        - conditionType: 1
                          operator: 0
                          value:
                          - "1"
                          extraConfig: {}
                        returnValueJSON: "true"
                        id: BfGswoMDcsZ4y9Le1d9O
                        salt: 8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8
                        environment: production
                        rollouts: []
                        enabledEnvironments:
                        - development
                        - staging
                - id: 19LZJaPtCM4GT1sUbWlqVC
                  name: check_employee
                  changeLog: Removed Tag from Config
                  actionType: config_remove_tag
                  date: Mon Sep 26 2022
                  time: 21:25:22 GMT+0000 (Coordinated Universal Time)
                  updatedBy: John Doe
                  updatedByUserID: fd7dWH15Ddncvl3xhVLH
                  changes: {}
                - id: 76LGVrItCR9WE1iDfNmpHT
                  name: check_employee
                  changeLog: Removed Tag from Config
                  actionType: config_remove_tag
                  date: Mon Sep 26 2022
                  time: 21:25:18 GMT+0000 (Coordinated Universal Time)
                  updatedBy: John Doe
                  updatedByUserID: fd7dWH15Ddncvl3xhVLH
                  changes: {}
                pagination:
                  itemsPerPage: 3
                  pageNumber: 2
                  totalItems: 829
                  nextPage: statsigapi.net/console/v1/audit_logs?page=3&limit=3
                  previousPage: statsigapi.net/console/v1/audit_logs?page=1&limit=3
                  all: statsigapi.net/console/v1/audit_logs
              schema:
                $ref: '#/components/schemas/ConsoleV1AuditLogsController_genList_200_response'
          description: Audit logs listed successfully.
      security:
      - STATSIG-API-KEY: []
      summary: List Audit Logs
      tags:
      - Audit Logs
  /console/v1/alerts:
    get:
      operationId: ConsoleV1AlertsController_genList
      parameters:
      - description: Name of the creator.
        explode: true
        in: query
        name: creatorName
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: ID of the user who created the entity.
        explode: true
        in: query
        name: creatorID
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - description: Results per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/ConsoleV1AlertsController_genList_200_response'
          description: List Alerts success response
        "403":
          content:
            application/json:
              examples:
                Forbidden resource:
                  value:
                    status: 401
                    message: Forbidden resource
              schema:
                $ref: '#/components/schemas/ConsoleV1AlertsController_genList_403_response'
          description: Forbidden resource
      security:
      - STATSIG-API-KEY: []
      summary: List Alerts
      tags:
      - Alerts
  /console/v1/dynamic_configs:
    get:
      operationId: ConsoleV1DynamicConfigController_genList
      parameters:
      - description: Name of the creator.
        explode: true
        in: query
        name: creatorName
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: ID of the user who created the entity.
        explode: true
        in: query
        name: creatorID
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - description: Results per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Configs listed successfully.
                data:
                - id: example_config
                  name: Example Config
                  description: An example dynamic configuration
                  idType: userID
                  lastModifierID: abc123
                  lastModifiedTime: 1600000000000
                  lastModifierName: Jane Doe
                  lastModifierEmail: jane@example.com
                  creatorID: def456
                  createdTime: 1500000000000
                  creatorName: John Smith
                  creatorEmail: john@example.com
                  targetApps:
                  - myapp
                  holdoutIDs: []
                  tags:
                  - example_tag
                  team: Product
                  isEnabled: true
                  rules: []
                  defaultValue: {}
                  defaultValueJson5: "{}"
                  schema: "{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\"\
                    ,\"properties\":{}}"
                  schemaJson5: |-
                    {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "properties": {}
                    }
                  version: 1
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_200_response'
          description: List Dynamic Configs Success
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found. The requested resource could not be found.
      security:
      - STATSIG-API-KEY: []
      summary: List Dynamic Configs
      tags:
      - Dynamic Configs
    post:
      operationId: ConsoleV1DynamicConfigController_genCreate
      parameters:
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigCreateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config created successfully.
                data:
                  id: a_dynamic_config
                  name: a dynamic config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1707344887865
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1707344887764
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  rules: []
                  defaultValue: {}
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_200_response'
          description: Create gate response
        "400":
          content:
            application/json:
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try
                      again.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_400_response'
          description: Invalid request. Please check the request input and try again.
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "403":
          content:
            application/json:
              examples:
                Forbidden resource:
                  value:
                    status: 403
                    message: "Forbidden. The request was valid, but the server is\
                      \ refusing action. You might not have the necessary permissions\
                      \ to access the resource."
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_403_response'
          description: "Forbidden. The request was valid, but the server is refusing\
            \ action. You might not have the necessary permissions to access the resource."
      security:
      - STATSIG-API-KEY: []
      summary: Create Dynamic Config
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/versions:
    get:
      operationId: ConsoleV1DynamicConfigController_genListVersions
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genListVersions_200_response'
          description: List Dynamic Config Versions Success
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found. The requested resource could not be found.
      security:
      - STATSIG-API-KEY: []
      summary: List Dynamic Config Versions
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}:
    delete:
      operationId: ConsoleV1DynamicConfigController_genRemove
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: Dynamic Config deleted successfully.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genRemove_200_response'
          description: Delete Dynamic Config Response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found. The requested resource could not be found.
      security:
      - STATSIG-API-KEY: []
      summary: Delete Dynamic Config
      tags:
      - Dynamic Configs
    get:
      operationId: ConsoleV1DynamicConfigController_genRead
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic config read successfully.
                data:
                  id: a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: string
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genRead_200_response'
          description: Get Dynamic Config Response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found. The requested resource could not be found.
      security:
      - STATSIG-API-KEY: []
      summary: Get Dynamic Config
      tags:
      - Dynamic Configs
    patch:
      operationId: ConsoleV1DynamicConfigController_genPartialUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigPartialUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic config updated successfully.
                data:
                  id: a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: string
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genPartialUpdate_200_response'
          description: Partially Update Dynamic Config Response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found. The requested resource could not be found.
      security:
      - STATSIG-API-KEY: []
      summary: Partially Update Dynamic Config
      tags:
      - Dynamic Configs
    post:
      operationId: ConsoleV1DynamicConfigController_genFullUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigFullUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic config updated successfully.
                data:
                  id: a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: string
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genFullUpdate_200_response'
          description: Fully Update Dynamic Config Response
        "400":
          content:
            application/json:
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try
                      again.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_400_response'
          description: Invalid request. Please check the request input and try again.
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "403":
          content:
            application/json:
              examples:
                Forbidden resource:
                  value:
                    status: 403
                    message: "Forbidden. The request was valid, but the server is\
                      \ refusing action. You might not have the necessary permissions\
                      \ to access the resource."
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_403_response'
          description: "Forbidden. The request was valid, but the server is refusing\
            \ action. You might not have the necessary permissions to access the resource."
      security:
      - STATSIG-API-KEY: []
      summary: Fully Update Dynamic Config
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/rules:
    get:
      operationId: ConsoleV1DynamicConfigController_genReadRules
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rules read successfully.
                data:
                - rules:
                  - id: 5pjzfmF8KLFsh81kBPyxvR
                    baseID: 5pjzfmF8KLFsh81kBPyxvR
                    name: rule name
                    passPercentage: 1
                    conditions:
                    - type: browser_name
                      targetValue: []
                      operator: any
                    environments: null
                  - id: 6jQEnu1fCnXqjXhm1qGEnt
                    baseID: 6jQEnu1fCnXqjXhm1qGEnt
                    name: Other2
                    passPercentage: 80
                    conditions: []
                    environments: null
                  - id: 4DonExIcOjSV8kG3WSQ5Zm
                    baseID: 4DonExIcOjSV8kG3WSQ5Zm
                    name: Austin's fav rule
                    passPercentage: 8
                    conditions: []
                    environments: null
                pagination:
                  itemsPerPage: 20000
                  pageNumber: 1
                  totalItems: 1
                  nextPage: null
                  previousPage: null
                  all: ""
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genReadRules_200_response'
          description: Get Dynamic Config Rules Response
      security:
      - STATSIG-API-KEY: []
      summary: Get Dynamic Config Rules
      tags:
      - Dynamic Configs
    patch:
      operationId: ConsoleV1DynamicConfigController_genMultiRuleUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiRuleUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rules updated successfully.
                data:
                  id: dc2
                  name: dc2
                  description: ""
                  idType: userID
                  lastModifierID: 65pqqzT46Kl7lHnd2JCmgH
                  lastModifiedTime: 1721256932961
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 3exemrfZ5pwOk6qyDH0dhP
                  createdTime: 1721247911588
                  creatorName: Jathu Theivikaran
                  creatorEmail: jathurshan@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isEnabled: true
                  rules:
                  - id: 2IIQAN6wbUyHJiLbrcBuvx:80.00:4
                    baseID: 2IIQAN6wbUyHJiLbrcBuvx
                    name: Other2
                    passPercentage: 80
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  - id: H8AtJA3Vhyeyn6XbH1Xwe:71.00:1
                    baseID: H8AtJA3Vhyeyn6XbH1Xwe
                    name: CA
                    passPercentage: 71
                    conditions:
                    - type: country
                      targetValue:
                      - CA
                      operator: any
                    returnValue: {}
                    returnValueJson5: "{}"
                    environments: null
                  defaultValue: {}
                  defaultValueJson5: "{}"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genMultiRuleUpdate_200_response'
          description: Update List of Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Update List of Dynamic Config Rules
      tags:
      - Dynamic Configs
    post:
      operationId: ConsoleV1DynamicConfigController_genMultiRuleAdd
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiDynamicConfigRuleAddDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genMultiRuleAdd_200_response'
          description: Add Dynamic Config Rules Response
      security:
      - STATSIG-API-KEY: []
      summary: Add Dynamic Config Rules
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/rule/{ruleId}:
    delete:
      operationId: ConsoleV1DynamicConfigController_genRuleDelete
      parameters:
      - description: Dynamic Config ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Rule ID
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rule deleted successfully.
                data:
                  id: dc2
                  name: dc2
                  description: ""
                  idType: userID
                  lastModifierID: 65pqqzT46Kl7lHnd2JCmgH
                  lastModifiedTime: 1721251399582
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 3exemrfZ5pwOk6qyDH0dhP
                  createdTime: 1721247911588
                  creatorName: Jathu Theivikaran
                  creatorEmail: jathurshan@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isEnabled: true
                  rules:
                  - id: 2IIQAN6wbUyHJiLbrcBuvx:80.00:1
                    baseID: 2IIQAN6wbUyHJiLbrcBuvx
                    name: Other
                    passPercentage: 80
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  defaultValue: {}
                  defaultValueJson5: "{}"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genRuleDelete_200_response'
          description: Delete Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Delete Dynamic Config Rule
      tags:
      - Dynamic Configs
    get:
      operationId: ConsoleV1DynamicConfigController_genReadRule
      parameters:
      - description: Dynamic Config ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Rule ID
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rules read successfully.
                data:
                  id: 6jQEnu1fCnXqjXhm1qGEnt
                  baseID: 6jQEnu1fCnXqjXhm1qGEnt
                  name: Other2
                  passPercentage: 80
                  conditions: []
                  environments: null
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genReadRule_200_response'
          description: Get Specific Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Get Specific Dynamic Config Rule
      tags:
      - Dynamic Configs
    patch:
      operationId: ConsoleV1DynamicConfigController_genRuleUpdate
      parameters:
      - description: Dynamic Config ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Rule ID
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rules updated successfully.
                data:
                  id: dc2
                  name: dc2
                  description: ""
                  idType: userID
                  lastModifierID: 65pqqzT46Kl7lHnd2JCmgH
                  lastModifiedTime: 1721248745926
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 3exemrfZ5pwOk6qyDH0dhP
                  createdTime: 1721247911588
                  creatorName: Jathu Theivikaran
                  creatorEmail: jathurshan@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isEnabled: true
                  rules:
                  - id: 1HnUxxykNK2zl8AqW0HAl5
                    baseID: 1HnUxxykNK2zl8AqW0HAl5
                    name: CA
                    passPercentage: 100
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  - id: 2IIQAN6wbUyHJiLbrcBuvx:80.00:1
                    baseID: 2IIQAN6wbUyHJiLbrcBuvx
                    name: Other
                    passPercentage: 80
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  defaultValue: {}
                  defaultValueJson5: "{}"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genRuleUpdate_200_response'
          description: Update Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Update Dynamic Config Rule By Id
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/disable:
    put:
      operationId: ConsoleV1DynamicConfigController_genDisable
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genMultiRuleAdd_200_response'
          description: Disable Dynamic Config Response
      security:
      - STATSIG-API-KEY: []
      summary: Disable Dynamic Config
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/enable:
    put:
      operationId: ConsoleV1DynamicConfigController_genEnable
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genMultiRuleAdd_200_response'
          description: Enable Dynamic Config Response
      security:
      - STATSIG-API-KEY: []
      summary: Enable Dynamic Config
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/rule/name/{ruleName}:
    delete:
      operationId: ConsoleV1DynamicConfigController_genRuleNameDelete
      parameters:
      - description: Dynamic Config ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Rule Name
        explode: false
        in: path
        name: ruleName
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rule deleted successfully.
                data:
                  id: dc2
                  name: dc2
                  description: ""
                  idType: userID
                  lastModifierID: 65pqqzT46Kl7lHnd2JCmgH
                  lastModifiedTime: 1721251399582
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 3exemrfZ5pwOk6qyDH0dhP
                  createdTime: 1721247911588
                  creatorName: Jathu Theivikaran
                  creatorEmail: jathurshan@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isEnabled: true
                  rules:
                  - id: 2IIQAN6wbUyHJiLbrcBuvx:80.00:1
                    baseID: 2IIQAN6wbUyHJiLbrcBuvx
                    name: Other
                    passPercentage: 80
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  defaultValue: {}
                  defaultValueJson5: "{}"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genRuleDelete_200_response'
          description: Delete Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Delete Dynamic Config Rule By Name
      tags:
      - Dynamic Configs
    patch:
      operationId: ConsoleV1DynamicConfigController_genRuleNameUpdate
      parameters:
      - description: Dynamic Config ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Rule Name
        explode: false
        in: path
        name: ruleName
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Dynamic Config rules updated successfully.
                data:
                  id: dc2
                  name: dc2
                  description: ""
                  idType: userID
                  lastModifierID: 65pqqzT46Kl7lHnd2JCmgH
                  lastModifiedTime: 1721248745926
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 3exemrfZ5pwOk6qyDH0dhP
                  createdTime: 1721247911588
                  creatorName: Jathu Theivikaran
                  creatorEmail: jathurshan@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isEnabled: true
                  rules:
                  - id: 1HnUxxykNK2zl8AqW0HAl5
                    baseID: 1HnUxxykNK2zl8AqW0HAl5
                    name: CA
                    passPercentage: 100
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  - id: 2IIQAN6wbUyHJiLbrcBuvx:80.00:1
                    baseID: 2IIQAN6wbUyHJiLbrcBuvx
                    name: Other
                    passPercentage: 80
                    conditions: []
                    returnValue: true
                    returnValueJson5: "true"
                    environments: null
                  defaultValue: {}
                  defaultValueJson5: "{}"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genRuleUpdate_200_response'
          description: Update Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Update Dynamic Config Rule By Name
      tags:
      - Dynamic Configs
  /console/v1/dynamic_configs/{id}/rule:
    post:
      operationId: ConsoleV1DynamicConfigController_genRuleAdd
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigRuleAddDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genMultiRuleAdd_200_response'
          description: Add Dynamic Config Rule Response
      security:
      - STATSIG-API-KEY: []
      summary: Add Dynamic Config Rule
      tags:
      - Dynamic Configs
  /console/v1/holdouts:
    get:
      operationId: ConsoleV1HoldoutsController_genList
      parameters:
      - description: Name of the creator.
        explode: true
        in: query
        name: creatorName
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: ID of the user who created the entity.
        explode: true
        in: query
        name: creatorID
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - description: Results per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Holdouts listed successfully.
                data:
                - id: testing_holdout
                  name: testing holdout
                  description: helpful summary of what this holdout does
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1719873874212
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1719873870785
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  tags: []
                  team: Console Team
                  isEnabled: true
                  isGlobal: false
                  passPercentage: 0
                  gateIDs: []
                  experimentIDs: []
                  layerIDs: []
                  targetingGateID: null
                - id: test123
                  name: test123
                  description: ""
                  idType: userID
                  lastModifierID: 5O908pyGoCqw6QH1nt8v82
                  lastModifiedTime: 1719872028057
                  lastModifierName: test
                  lastModifierEmail: user@statsig.com
                  creatorID: 5O908pyGoCqw6QH1nt8v82
                  createdTime: 1719872027567
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  targetApps: []
                  tags: []
                  team: Console Team
                  isEnabled: true
                  isGlobal: false
                  passPercentage: 0
                  gateIDs: []
                  experimentIDs: []
                  layerIDs: []
                  targetingGateID: null
                - id: test_target_gate
                  name: test_target_gate
                  description: test holdout
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1710521134863
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 5sgBiiuoBX4fscrWdCXVma
                  createdTime: 1702237002465
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  targetApps: []
                  tags: []
                  team: null
                  isEnabled: true
                  isGlobal: false
                  passPercentage: 1
                  gateIDs:
                  - product_larger_image
                  - product_larger_image_lower
                  - test_new_gate
                  - ma_test_rollout
                  - empty_gate
                  - new_gate_to_point_experiment_at
                  - new_gate_with_monitoring_metrics
                  - andy_test_gate
                  experimentIDs:
                  - mostly_test_experiment
                  - test_123
                  - new_test_exp
                  - test_exp_start
                  - andy_test_experiment
                  layerIDs:
                  - Homepage Feed Improvements
                  - statsig_is_awesome
                  - testing_tool
                  - test_statsig_2
                  - layer_holdout_parameters
                  targetingGateID: ""
                pagination:
                  itemsPerPage: 20000
                  pageNumber: 1
                  totalItems: 3
                  nextPage: null
                  previousPage: null
                  all: /console/v1/holdouts
              schema:
                $ref: '#/components/schemas/ConsoleV1HoldoutsController_genList_200_response'
          description: List holdouts response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
      security:
      - STATSIG-API-KEY: []
      summary: List Holdouts
      tags:
      - Holdouts
    post:
      operationId: ConsoleV1HoldoutsController_genCreate
      parameters:
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldoutCreateContractDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Holdout created successfully.
                data:
                  id: a_holdout
                  name: a holdout
                  description: helpful summary of what this holdout does
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1707768016211
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1707768015729
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  tags: []
                  team: Console Team
                  isEnabled: true
                  isGlobal: false
                  passPercentage: 0
                  gateIDs: []
                  experimentIDs: []
                  layerIDs: []
                  targetingGateID: null
              schema:
                $ref: '#/components/schemas/ConsoleV1HoldoutsController_genCreate_200_response'
          description: Create holdout response
        "400":
          content:
            application/json:
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try
                      again.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_400_response'
          description: Name is already in use
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found Exception
      security:
      - STATSIG-API-KEY: []
      summary: Create holdout
      tags:
      - Holdouts
  /console/v1/holdouts/{id}:
    delete:
      operationId: ConsoleV1HoldoutsController_genRemove
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Holdout deleted successfully.
              schema:
                $ref: '#/components/schemas/ConsoleV1HoldoutsController_genRemove_200_response'
          description: Delete holdout response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Holdout not found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Holdout not found.
      security:
      - STATSIG-API-KEY: []
      summary: Delete holdout by id
      tags:
      - Holdouts
    get:
      operationId: ConsoleV1HoldoutsController_genRead
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Holdout read successfully.
                data:
                  id: testing_holdout
                  name: testing holdout
                  description: helpful summary of what this holdout does
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1719873874212
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1719873870785
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  tags: []
                  team: Console Team
                  isEnabled: true
                  isGlobal: false
                  passPercentage: 0
                  gateIDs: []
                  experimentIDs: []
                  layerIDs: []
                  targetingGateID: null
              schema:
                $ref: '#/components/schemas/ConsoleV1HoldoutsController_genRead_200_response'
          description: Get holdout by id response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
      security:
      - STATSIG-API-KEY: []
      summary: Get holdout by id
      tags:
      - Holdouts
    patch:
      operationId: ConsoleV1HoldoutsController_genPartialUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldoutPartialUpdateContractDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Holdout updated successfully.
                data:
                  id: testing_holdout
                  name: testing holdout
                  description: helpful summary of what the holdout does
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1719939380702
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1719873870785
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  tags: []
                  team: Console Team
                  isEnabled: false
                  isGlobal: false
                  passPercentage: 0
                  gateIDs: []
                  experimentIDs: []
                  layerIDs: []
                  targetingGateID: null
              schema:
                $ref: '#/components/schemas/ConsoleV1HoldoutsController_genPartialUpdate_200_response'
          description: Update holdout response
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Holdout not found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Holdout not found.
      security:
      - STATSIG-API-KEY: []
      summary: Patch holdout by id
      tags:
      - Holdouts
    post:
      operationId: ConsoleV1HoldoutsController_genFullUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldoutFullUpdateContractDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Holdout updated successfully.
                data:
                  id: testing_holdout
                  name: testing holdout
                  description: UPDATED summary of what this holdout does
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1719941188286
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1719873870785
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  tags: []
                  team: Console Team
                  isEnabled: true
                  isGlobal: true
                  passPercentage: 5
                  gateIDs: []
                  experimentIDs:
                  - testing123
                  layerIDs: []
                  targetingGateID: ""
              schema:
                $ref: '#/components/schemas/ConsoleV1HoldoutsController_genFullUpdate_200_response'
          description: Update holdout response
        "400":
          content:
            application/json:
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Name is already in use
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_400_response'
          description: Name is already in use
        "401":
          content:
            application/json:
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: "This endpoint only accepts an active CONSOLE key, but\
                      \ an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genCreate_401_response'
          description: "This endpoint only accepts an active CONSOLE key, but an invalid\
            \ key was sent. Key: console-xxxXXXxxxXXXxxx"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
              schema:
                $ref: '#/components/schemas/ConsoleV1DynamicConfigController_genList_404_response'
          description: Not Found. The requested resource could not be found.
      security:
      - STATSIG-API-KEY: []
      summary: Update holdout by id
      tags:
      - Holdouts
  /console/v1/gates:
    get:
      operationId: ConsoleV1GatesController_genList
      parameters:
      - description: Filter by idType
        explode: true
        in: query
        name: idType
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - description: Filter by type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - TEMPORARY
          - PERMANENT
          - STALE
          - TEMPLATE
          type: string
        style: form
      - description: Filter by typeReason
        explode: true
        in: query
        name: typeReason
        required: false
        schema:
          enum:
          - NONE
          - STALE_PROBABLY_LAUNCHED
          - STALE_PROBABLY_UNLAUNCHED
          - STALE_PROBABLY_FORGOTTEN
          - STALE_NO_RULES
          - STALE_PROBABLY_DEAD_CHECK
          type: string
        style: form
      - description: "Filter by pass rate of the gates, as determined by a sampling\
          \ of overall true/false values returned: 0, 100, or INBETWEEN (pass rate\
          \ greater than zero but less than 100)"
        explode: true
        in: query
        name: passRate
        required: false
        schema: {}
        style: form
      - description: "Filter by rollout rate of the gates: 0 (all rules are set to\
          \ pass 0%), 100 (all rules pass 100% including an \"everyone\" catch all\
          \ rule), or INBETWEEN (at least one rule has a pass rate greater than 0\
          \ but less than 100)"
        explode: true
        in: query
        name: rolloutRate
        required: false
        schema: {}
        style: form
      - description: Name of the creator.
        explode: true
        in: query
        name: creatorName
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: ID of the user who created the entity.
        explode: true
        in: query
        name: creatorID
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
        style: form
      - description: Results per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Gates listed successfully.
                data:
                - id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifiedTime: 1705439406750
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  createdTime: 1705439406615
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ""
                  monitoringMetrics: []
                pagination:
                  all: ""
                  itemsPerPage: 100
                  nextPage: null
                  pageNumber: 1
                  previousPage: null
                  totalItems: 1
              schema:
                $ref: '#/components/schemas/ConsoleV1GatesController_genList_200_response'
          description: List gates success
        "403":
          content:
            application/json:
              examples:
                Forbidden resource:
                  value:
                    status: 401
                    message: Forbidden resource
              schema:
                $ref: '#/components/schemas/ConsoleV1AlertsController_genList_403_response'
          description: Forbidden resource
      security:
      - STATSIG-API-KEY: []
      summary: List Gates
      tags:
      - Gates
    post:
      operationId: ConsoleV1GatesController_genCreate
      parameters:
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateCreateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Gate created successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1704929983827
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1704929979761
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ""
                  monitoringMetrics: []
              schema:
                $ref: '#/components/schemas/ConsoleV1GatesController_genCreate_200_response'
          description: Create gate response
      security:
      - STATSIG-API-KEY: []
      summary: Create Gate
      tags:
      - Gates
  /console/v1/gates/{id}:
    delete:
      operationId: ConsoleV1GatesController_genRemove
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Gate deleted successfully.
              schema:
                $ref: '#/components/schemas/ConsoleV1GatesController_genRemove_200_response'
          description: Delete gate response
      security:
      - STATSIG-API-KEY: []
      summary: Delete Gates
      tags:
      - Gates
    get:
      operationId: ConsoleV1GatesController_genRead
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Gate read successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1704929983827
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1704929979761
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ""
                  monitoringMetrics: []
              schema:
                $ref: '#/components/schemas/ConsoleV1GatesController_genRead_200_response'
          description: Get gate response
      security:
      - STATSIG-API-KEY: []
      summary: Read Gate
      tags:
      - Gates
    patch:
      operationId: ConsoleV1GatesController_genPartialUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatePartialUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  checksPerHour: 0
                  createdTime: 1705439406750
                  creatorEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  creatorName: CONSOLE API
                  description: Updated the description of the gate
                  holdoutIDs: []
                  id: a_gate
                  idType: userID
                  isEnabled: true
                  lastModifiedTime: 1705439498468
                  lastModifierEmail: null
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifierName: CONSOLE API
                  name: A Gate
                  rules: []
                  status: In Progress
                  tags: []
                  targetApps: []
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ""
                  monitoringMetrics: []
                message: Gate updated successfully.
              schema:
                $ref: '#/components/schemas/ConsoleV1GatesController_genPartialUpdate_200_response'
          description: Update gate response
      security:
      - STATSIG-API-KEY: []
      summary: Partially Update Gates
      tags:
      - Gates
    post:
      operationId: ConsoleV1GatesController_genFullUpdate
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional header to respect review settings for mutation endpoints.
        explode: false
        in: header
        name: x-respect-review-settings
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateFullUpdateDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  checksPerHour: 0
                  createdTime: 1705439406615
                  creatorEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  creatorName: CONSOLE API
                  description: Updated Gate Description
                  holdoutIDs: []
                  id: a_gate
                  idType: stableID
                  isEnabled: false
                  lastModifiedTime: 1705439409750
                  lastModifierEmail: null
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifierName: CONSOLE API
                  name: A Gate
                  rules:
                  - conditions:
                    - operator: any
                      targetValue:
                      - "111"
                      - "222"
                      type: user_id
                    - operator: str_contains_any
                      targetValue:
                      - '@outlook.com'
                      - '@gmail.com'
                      type: email
                    - field: age
                      operator: gt
                      targetValue: 31
                      type: custom_field
                    - operator: version_gt
                      targetValue: 1.1.1
                      type: app_version
                    - operator: any
                      targetValue:
                      - Android
                      - Chrome
                      type: browser_name
                    - operator: any
                      targetValue:
                      - 94.0.4606.81
                      - 94.0.4606.92
                      type: browser_version
                    - operator: none
                      targetValue:
                      - Android
                      - Windows
                      type: os_name
                    - operator: version_lte
                      targetValue: 11.0.0
                      type: os_version
                    - operator: any
                      targetValue:
                      - NZ
                      - US
                      type: country
                    - operator: any
                      targetValue:
                      - production
                      type: environment_tier
                    - targetValue: growth_org
                      type: passes_segment
                    - targetValue: growth_org
                      type: fails_segment
                    - operator: any
                      targetValue:
                      - 1.1.1.1
                      - 8.8.8.8
                      type: ip_address
                    - customID: userID
                      operator: any
                      targetValue:
                      - "31"
[...]
